In [13]:
import requests
import pandas as pd

In [14]:
url = "https://pokeapi.co/api/v2/pokemon/"
r = requests.get(url)

In [15]:
r

In [16]:
json = r.json()
json

{'count': 1118,
 'next': 'https://pokeapi.co/api/v2/pokemon/?offset=20&limit=20',
 'previous': None,
 'results': [{'name': 'bulbasaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
  {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
  {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
  {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
  {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
  {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
  {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
  {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
  {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
  {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
  {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
  {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
  {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
  {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
  {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
  {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
  {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
  {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'}]}

In [17]:
param = {'limit': json['count']}
r = requests.get(url, params = param)
json = r.json()

In [18]:
df = pd.DataFrame(json['results'])
df

                            name                                       url
0                      bulbasaur      https://pokeapi.co/api/v2/pokemon/1/
1                        ivysaur      https://pokeapi.co/api/v2/pokemon/2/
2                       venusaur      https://pokeapi.co/api/v2/pokemon/3/
3                     charmander      https://pokeapi.co/api/v2/pokemon/4/
4                     charmeleon      https://pokeapi.co/api/v2/pokemon/5/
...                          ...                                       ...
1113              duraludon-gmax  https://pokeapi.co/api/v2/pokemon/10216/
1114         eternatus-eternamax  https://pokeapi.co/api/v2/pokemon/10217/
1115  urshifu-single-strike-gmax  https://pokeapi.co/api/v2/pokemon/10218/
1116   urshifu-rapid-strike-gmax  https://pokeapi.co/api/v2/pokemon/10219/
1117     toxtricity-low-key-gmax  https://pokeapi.co/api/v2/pokemon/10220/

[1118 rows x 2 columns]

In [7]:
id_ = []
for page in df.url:
    url = '{}'.format(page)
    r = requests.get(url)
    json = r.json()
    id_.append(json['id'])

df_id = pd.DataFrame(id_)
df_id

          0
0         1
1         2
2         3
3         4
4         5
...     ...
1113  10216
1114  10217
1115  10218
1116  10219
1117  10220

[1118 rows x 1 columns]

In [19]:
df = pd.concat([df, df_id], axis = 1)
df = df.iloc[:,[0,2]]

In [20]:
df.reset_index
df.columns = ["Name", "Id"]
df

                            Name     Id
0                      bulbasaur      1
1                        ivysaur      2
2                       venusaur      3
3                     charmander      4
4                     charmeleon      5
...                          ...    ...
1113              duraludon-gmax  10216
1114         eternatus-eternamax  10217
1115  urshifu-single-strike-gmax  10218
1116   urshifu-rapid-strike-gmax  10219
1117     toxtricity-low-key-gmax  10220

[1118 rows x 2 columns]

In [22]:
df.to_csv('pokemons_list.csv')